.asteroidbig { color: blue; background: yellow; width: 200px;}
.asteroidb329big {color: blue; width: 200px;}
.asteroid {border: solid green 1px; width: 200px; }
.asteroidb326 {border: solid green 1px; width: 200px;}